<div class="row">
  <button type="button" class="btn btn-dark m-3" (click)="openAddCardModal()">yeni card elave et</button>

  <div class="col-12" *ngIf="!cardService.cards">
    <h1>Card Visitler yuklenir PLS gozleyin!</h1>
  </div>
  <div class="col-12" *ngIf="cardService.cards?.length === 0">
    <h1>Card Visitler hele yaratmamisiniz PLS <a class="link-primary" (click)="openAddCardModal()">Card Elave Edin!</a></h1>
  </div>

  <div class="col-3" *ngFor="let card of cardService.cards">
    <app-card-item [card]="card"></app-card-item>
  </div>
</div>
