
  <form [formGroup]="cardForm">
    <mat-progress-bar *ngIf="showSpinner" class="mb-3" mode="query"></mat-progress-bar>
    <h2 class="title">{{data ? 'Cardvisit Update' : 'New Card Visit'}}</h2>
    <div class="mb-1">
      <label class="form-label">Title</label>
      <input class="form-control" [ngClass]="{'is-invalid': cardForm.controls.title.invalid && (cardForm.controls.title.dirty || cardForm.touched)}" formControlName="title">
    </div>
    <div class="mb-1">
      <label class="form-label">Name</label>
      <input  class="form-control" formControlName="name">
    </div>
    <div class="mb-1">
      <label class="form-label">Email address</label>
      <input  class="form-control" formControlName="email">
    </div>
    <div class="mb-1">
      <label class="form-label">Phone</label>
      <input  class="form-control" formControlName="phone">
    </div>
    <div class="mb-1">
      <label class="form-label">Address</label>
      <input  class="form-control" formControlName="address"
      >

    </div>

    <div class="btns d-flex justify-content-between mt-3">
      <button type="submit" class="btn btn-warning" *ngIf="data" (click)="deleteCard()">sil</button>
      <button type="submit" class="btn btn-warning" (click)="cancelCard()">Cancel</button>
      <button type="submit" class="btn btn-dark" (click)="data ? updateCard() : addCardMethod()" [disabled]="cardForm.invalid">{{data ? 'Update' : 'Add'}}</button>
    </div>
  </form>
