<div class="card" style="width: 18rem;">
  <div class="card-body" (click)="openUpdateCardModal(card)">
    <h5 class="card-title">{{ card.title }}</h5>
    <h4 class="card-subtitle">{{ card.name }}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ card.phone }}</li>
    <li class="list-group-item">
      {{ card.email }}
      <small class="text-warning" *ngIf="!card.email">E-mail adresi girilmemişdir.</small>
    </li>
    <li class="list-group-item">
      {{ card.address }}
      <small class="text-warning" *ngIf="!card.address">Adress girilmemişdir.</small>
    </li>
  </ul>
</div>
